include CHANGES.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include bin *
recursive-include docs *
recursive-include pysignature *
global-exclude *.pyc
global-exclude *.pyo